.page{
width: 880px;
margin: auto;
font-family: Montserrat, Calibri;
font-size: 10px;
}

.photo{
height: 250px;

}
.infos-photo{
  text-align: left;
}
.espace-gauche{
display: flex;
background-color: lightpink;
  text-align: Left;
}

espace-droite{
;
}

section {

}

h2{
}

gsec{
}

dsec{
}

banniere-bas{
}
