header {
  height: 8rem;
  background-image: url('abc.jpg');
  background-size: cover;
  margin-bottom: 1rem;
}
body{
  background:linear-gradient();
}
.page{
width: 1000px;
margin: auto;
font-family: Montserrat, Calibri;
font-size: 10px;
display: flex;
background-color: bisque;
}

.infos-photo{
  text-align: left;
  color: aliceblue;
  font-size: medium;
}

.photoimg {
  width: 200px;
}

.espace-gauche{
  padding: 1rem;
  display: flex;
  background-color: #013328;
  text-align: Left;
  border : 1px solid black;
}

.espace-droite{
  align-items: justify;
  margin-left: 1rem;
  font-size: small;
}

.desc{
  float: right;
}

.footer {
  height: 8rem;
  background-image: url('abc.jpg');
  background-size: cover;
  margin-bottom: 1rem;

}
