html{

}

header{

}

body{

}

p{

}

div1{ 
   

}

div2{
position: fixed;
   top: 50px;
   left: 60px;
   width: 150px;
   border-left: 2px solid black;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
  
}

div3{
   
}

div4{
    float: top;

}

div5{
    float: bottom;

}

div6{
  
}

div7{
   
}