html{

}

header{

}

body{

}

p{

}

div1{ 
   

}

div2{
    position: fixed;
   top: 30px;
   left: 20px;
   width: 150px;
   border-left: 2px solid black;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
  
}

div3{
    position: fixed;
    top: 30px;
    right: 300px;
    left: 300px;
    bottom: 230px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
   
}

div4{
    float: top;

}

div5{
    float: bottom;

}

div6{
    position: fixed;
    top: 30px;
    right: 30px;
    left: 1000px;
    bottom: 400px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  
}

div7{
    position: fixed;
    top: 500px;
    right: 500px;
    left: 500px;
    bottom: 400px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
   
}