img{
    margin-left: 10px;
}

body{
    background-color: lightblue;
}
div{
    background-color: white;
    margin-right:150px;
    margin-left: 150px;
}
p{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
}

h1{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
    color: darkblue;


}

h2{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
    color: darkcyan;

}

h3{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
    color: lightskyblue;

}

h4{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
    color: lightblue;


}

ul{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
}