html{
    scroll-behavior: smooth;
  }
  
head{

}
img{
    margin-left: 10px;
}

body{
    background: lightskyblue;
}

div{
    background-color: white;
    margin-right:150px;
    margin-left: 150px;
    opacity: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
p{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
}

h1{
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
    color: darkblue;
    font-weight: bold;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
   

}

h2{
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
    color: darkcyan;
    font-weight: bold;
    box-shadow: 5px 5px 2px 1px lightblue;

}

h3{
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
    color: lightskyblue;
    font-weight: bold;
}

h4{
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
    color: lightblue;
    font-weight: bold;
}

ul{
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
}